body{
    padding: 8;
    margin: 8;
    box-sizing: border-box;
}
.toolbar{
    display: flex;
    justify-content: space-around;
    background-color: #65256F;
    cursor: pointer;
    padding-left: 8rem;
    padding-right: 8rem;
}
.divv{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.toolbar p{
    color: #FFB700;
}
.divv p{
    color: white
}
.divv a{
    text-decoration: none;
    color: #FFB700; 
}
/* -------------- */
.menu{
    display: flex;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 8rem;
    position: sticky;
    top: 0;
    background-color: white;
    align-items: center;
}
.menu-lists{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    font-size: 20px;
}
.menu-lists li{
    list-style: none;
}
.menu-lists a{
    text-decoration: none;
    color: black;
}
.menu-lists a:hover{
    border-bottom: 1px solid black;
    transition: .6s;
}
.menu-lists button{
    padding: 10px;
    background-color: #602769;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.menu-lists button:hover{
    background: #16021a;
    transition: .7s;
}
/* section-1 */
.imgg img{ 
    padding-left: 8rem;
    padding-right: 8rem;
}
/* ------ */
.company p{
    text-align: center;
    padding-left: 8rem;
    padding-right: 8rem;
    color: #4C4C54;
}
/* --------- */
.uslugi-a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.uslugi-a h1{
    display: flex;
    font-size: 40px;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
}
.uslugi-a img{
    width: 37%;
}
/* ---------------------- */
.uslugi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.uslugi h1{
    display: flex;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    white-space: nowrap;
}
.uslugi img{
    width: 41%;
}
/*--line--*/
.blok-a{
    display: flex;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 8rem;
}
.blok-a1{
    text-align: center;
    font-size: 15px;
    box-shadow: 0 0 1px rgba(14, 2, 2, 0.104);
    padding: 40px;
    margin: 10px;
    font-size: 15px;
}
/* ----------------- */
.bloks{
    background-image: url(../img/about-1/Rectangle\ 161.png);
    height: 100%;
    width: 100%; 
}
.bloks h2{
    text-align: center;
    font-size: 30px;
    color: rgb(41, 40, 38);
    padding-top: 2rem;
}
 .bloks-1{
    display: flex;
    justify-content: space-around;
     text-align: center;
     padding-left: 8rem;
     padding-right: 8rem;
 }
 .bloks-1 p{
     color: rgb(39, 38, 26);
 }
/* -------------------- */

.icons{
    display: flex;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 3rem;
}
.icons-p a{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.icons-p p{
    text-align: center;
    font-size: 15px;
    padding: 20px;
    font-size: 20px;
    color: black;
}
/* -------- */
.our-clients{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.our-clients h1{
    display: flex;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    white-space: nowrap;
}
.our-clients img{
    width: 40%;
}
.img-clients{
    display: flex;
    justify-content: space-around;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 3rem;
}
/* ---------------------- */

/* ------------------ */
.application h2{
    text-align: center;
    padding-top: 4rem;
}
.application p{
    text-align: center;
}
.batnn{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 3rem;
}
.batnn input{
    background-color: #e7e7e7;    
    border: none;
    padding: 7px 50px;
    text-align: start;
    text-decoration: none;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}
.your-name{
    font-size: 15px;
    padding: 5px 50px;
    border: none;
    border-radius: 2px;
    background-color: #65256F;
    color: rgb(201, 192, 177);
    cursor: pointer;
}
.your-name:hover{
    background: #16021a;
    transition: .7s;
}
/* ----------------- */
.point{
    background-color: #181313;
    height: 19rem;
    margin-top:  4rem;
}
.end{
    display: flex;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 3rem;
}
.the-end h4{
    color: white;
}
.the-end p{
    color: #7e7676;
}